*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --blue-light: #4206d5;
  --blue-dark: #25037a;
  --purple-light: #b042ff;
  --purple-dark: #5a0075;
  --pink-dark: #960071;
}

html {
  font-family: sans-serif;
}
