*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --light-grey: #d1d1d1;
  --blue-light: #263685;
  --header-bg: #25037a;
  --purple-light: #b042ff;
  --purple-dark: #5a0075;
  --pink-dark: #960071;
  --pink-light: #ffb6c1;
}

html {
  font-family: sans-serif;
}
